.loggedIn{
    padding-right: 5em;
    text-align: right;
    background-color: #c1c1c1;
    font-weight: 550;
  }

  .loggedIn button{
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 10px;
    margin: 7px;
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .loggedIn button:hover{
    background-color: gray;
    color: white;
  }

  h3 {
    background-color: #f1f1f1;
    padding: 20px 10px;
    margin: 10px;
    width: 100%;
  }

  .errorMessage {
    color: red;
    font-weight: 550;
  }

  